<div class="row">
<div class="col-4">
    one way - from .ts to .html
</div>
<div class="col-4"></div>
<div class="col-4"></div>

</div>

<div class="row">
<div class="col-4">
    <!-- interpolation method of binding. -->
   <h3 style="background-color: yellowgreen;">{{courseName}}</h3> 
<div><input type="text" value="{{courseName}}" placeholder="Enter text"></div>
<input type="{{inputType}}">
</div>

<div class="col-4">

property binding
<div [class]="myclassname">
    Danger
</div>
<input type="text" [value]="courseName">
<input [type]="inputType">

</div>
<div class="col-6">
<input type="text" [(ngModel)]="courseName">--{{courseName}}

<select [(ngModel)]="stateName">
    <option value="">--select--</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Goa">Goa</option>
    <option value="Delhi">Delhi</option>
</select>
</div>
<!-- event binding sending data from html to component -->
<div class="col-sm-3">
 <button class="btn btn-success" (click)="showAlert('welcome to angular')">click Me!!</button>
 <span (click)="showAlert('Hello world')">clickk</span>
 <button class="btn btn-success" (click)="changeCourseName()">change courseName</button>

 <input type="checkbox" [(ngModel)]="isIndian">

 {{firstName()}}
</div>
</div>